# ============================================
# مثال برای محیط PRODUCTION (سایت واقعی)
# ============================================

SERVER_MOD=production
SERVER_MODE="production"

# بقیه تنظیمات همانند .env اصلی
